h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: bold;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

.img-circle {
    border-radius: 50%;
    background-color: Transparent;
}

.button-clean{
    background-color: Transparent;
    border: none;
    back
}

button:focus {outline:0;}

body {
	background-image: url("../images/ColorBackground.png");
}