<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Sleeper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../../static/css/simple-css.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Javascript -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script type="text/javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, 60000); 
    </script>

    <script type="text/javascript">
    /***********************************************
    * Drop Down Date select script- by JavaScriptKit.com
    * This notice MUST stay intact for use
    * Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
    ***********************************************/
    var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
    function populatedropdown(dayfield, monthfield, yearfield){
    var today=new Date()
    var dayfield=document.getElementById(dayfield)
    var monthfield=document.getElementById(monthfield)
    var yearfield=document.getElementById(yearfield)
    for (var i=0; i<31; i++)
    dayfield.options[i]=new Option(i, i)
    dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
    for (var m=0; m<12; m++)
    monthfield.options[m]=new Option(monthtext[m], monthtext[m])
    monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
    var thisyear=today.getFullYear()
    for (var y=0; y<20; y++){
    yearfield.options[y]=new Option(thisyear, thisyear)
    thisyear+=1
    }
    yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
    }
    </script>

</head>

<body>



        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url 'alarm' %}" class="button-clean" ><img src="../../static/images/SettingsButton.png" style="position: absolute;
                        top: 20px; right: 20px; width:100px; height: auto;"> </a>
                        <h1><center>Smart Sleeper</center></h1>

                        <h2><center><b>Sleep Stage: {{dateInfo}}</b></center></h2>


                        <center>
                            <div id="mysecondchart" style="height: 250px;"></div>
                                <script>
                                new Morris.Line({
                                  gridTextColor: '#000000',
                                  gridLineColor: '#000000',
                                  // ID of the element in which to draw the chart.
                                  element: 'mysecondchart',
                                  // Chart data records -- each entry in this array corresponds to a point on
                                  // the chart.
                                  data: [
                                    {% if pairCycle %}
                                    {% for timestamp, value in pairCycle %}
                                    { year: "{{timestamp}}", value: {{value}} },
                                    {% endfor %}
                                    {% else %}
                                    { year: "2017", value: 0 },
                                    {% endif %}
                                  ],
                                  // The name of the data record attribute that contains x-values.
                                  xkey: 'year',
                                  // A list of names of data record attributes that contain y-values.
                                  ykeys: ['value'],
                                  // Labels for the ykeys -- will be displayed when you hover over the
                                  // chart.
                                  labels: ['Stage'],
                                  
                                  events: [
                                  {% for event in events %}
                                  "{{event}}",
                                  {% endfor %}
                                  ],
                                  eventStrokeWidth: 3,
                                  goals: [2],
                                  goalLineColor: ['purple'],
                                  goalStrokeWidth: 3,
                                  

                                  


                                });
                                </script>
                            </center>
                        </div>


                        <h2><center><b>Heart Rate: {{dateInfo}}</b></center></h2>
                            <center>
                            <div id="myfirstchart" style="height: 250px;"></div>
                                <script>
                                new Morris.Line({
                                  gridTextColor: '#000000',
                                  gridLineColor: '#000000',
                                  // ID of the element in which to draw the chart.
                                  element: 'myfirstchart',
                                  // Chart data records -- each entry in this array corresponds to a point on
                                  // the chart.
                                  data: [
                                    {% if pair %}
                                    {% for timestamp, value in pair %}
                                    { year: "{{timestamp}}", value: {{value}} },
                                    {% endfor %}
                                    {% else %}
                                    { year: "2017", value: 0 },
                                    {% endif %}
                                  ],
                                  // The name of the data record attribute that contains x-values.
                                  xkey: 'year',
                                  // A list of names of data record attributes that contain y-values.
                                  ykeys: ['value'],
                                  // Labels for the ykeys -- will be displayed when you hover over the
                                  // chart.
                                  labels: ['Heart Rate'],

                                  events: [
                                  {% for event in events %}
                                  "{{event}}",
                                  {% endfor %}
                                  ],
                                  eventStrokeWidth: 3,

                                  


                                });
                                </script>
                            </center>
                        </br>
                        {% for result in results %}
                        {{result}}
                        {% endfor %}
                        </p>
                        <p><b>
                            <form method="post" action="{% url 'analytics' %}">
                            Select Date: 
                            <select id="daydropdown" name="day">
                            </select> 
                            <select id="monthdropdown" name="month">
                            </select> 
                            <select id="yeardropdown" name="year">
                            </select> 
                                
                            

                            <script type="text/javascript">

                            //populatedropdown(id_of_day_select, id_of_month_select, id_of_year_select)
                            window.onload=function(){
                            populatedropdown("daydropdown", "monthdropdown", "yeardropdown")
                            }
                            </script>

                            <div class="col-sm-1 col-push-sm-3">
                              <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
                            </div>


                            {% csrf_token %}
                            </form>
                        </p>

                        <div style="position: absolute; left: 20px">
                        <p> You were asleep for: <b>{{percentAsleep}}%</b> of the time</p>
                        <p> You were in REM for: <b>{{percentREM}}%</b> of the time</p>
                        </br>
                        <p> You were in Sleep Cycle Zero for: <b>{{percentZero}}%</b> of the time</p>
                        <p> You were in Sleep Cycle One for: <b>{{percentOne}}%</b> of the time</p>
                        <p> You were in Sleep Cycle Two for: <b>{{percentTwo}}%</b> of the time</p>
                        <p> You were in Sleep Cycle Three for: <b>{{percentThree}}%</b> of the time</p>
                        <p> You were in Sleep Cycle Four for: <b>{{percentFour}}%</b> of the time</p>
                        </div>

                        
                    </div>
                </div>
            </div>
        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->

<!--    
    <script src="js/jquery.js"></script>

   
    <script src="js/bootstrap.min.js"></script>

    Menu Toggle Script
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->

</body>

</html>
