<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Sleeper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/simple-css.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Javascript -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    

</head>

<body>


    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'analytics' %}">Analytics</a>
                </li>
                <li>
                    <a href="{% url 'alarm' %}">Alarm</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h1><center>Smart Sleeper</center></h1>
                        <h2><center><b>Overview</b></center></h2>
                        <center>
                        <div id="myfirstchart" style="height: 250px;"></div>
                            <script>
                            new Morris.Line({
                              // ID of the element in which to draw the chart.
                              element: 'myfirstchart',
                              // Chart data records -- each entry in this array corresponds to a point on
                              // the chart.
                              data: [
                                {% if pair %}
                                {% for timestamp, value in pair %}
                                { year: "{{timestamp}}", value: {{value}} },
                                {% endfor %}
                                {% else %}
                                { year: "2017", value: 0 },
                                {% endif %}
                              ],
                              // The name of the data record attribute that contains x-values.
                              xkey: 'year',
                              // A list of names of data record attributes that contain y-values.
                              ykeys: ['value'],
                              // Labels for the ykeys -- will be displayed when you hover over the
                              // chart.
                              labels: ['Value'],

                              


                            });
                            </script>
                        </center>
                        </br>
                        <p><b>Average Sleep Per Night: 7.35 Hours</b></p>
                        <p><b>Successful Wakeups: 89%</b></p>
                    </div>
                </div>
            </div>

            <h2><center><b>Sleep Stage</b></center></h2>


                        <center>
                            <div id="mysecondchart" style="height: 250px;"></div>
                                <script>
                                new Morris.Line({
                                  // ID of the element in which to draw the chart.
                                  element: 'mysecondchart',
                                  // Chart data records -- each entry in this array corresponds to a point on
                                  // the chart.
                                  data: [
                                    {% if pairCycle %}
                                    {% for timestamp, value in pairCycle %}
                                    { year: "{{timestamp}}", value: {{value}} },
                                    {% endfor %}
                                    {% else %}
                                    { year: "2017", value: 0 },
                                    {% endif %}
                                  ],
                                  // The name of the data record attribute that contains x-values.
                                  xkey: 'year',
                                  // A list of names of data record attributes that contain y-values.
                                  ykeys: ['value'],
                                  // Labels for the ykeys -- will be displayed when you hover over the
                                  // chart.
                                  labels: ['Value'],

                                  


                                });
                                </script>
                            </center>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<!--    
    <script src="js/jquery.js"></script>

   
    <script src="js/bootstrap.min.js"></script>

    Menu Toggle Script
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->


</body>

</html>
