<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Sleeper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../../static/css/simple-css.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Javascript -->


 <!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> -->
    

</head>

<body>


    <!-- <div id="wrapper" class="toggled">

        
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'analytics' %}">Analytics</a>
                </li>
                <li>
                    <a href="{% url 'alarm' %}">Alarm</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div> -->



        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><center>Smart Sleeper</center></h1>
                    </div>
                </div>

                <div class="row" style="    position: absolute; top: 20%;">       
                    <div class="col-lg-6 col-sm-push-6">
                		<a href="{% url 'analytics' %}" class="button-clean" ><img src="../../static/images/LineGraphButton.png" style="width:425px; 
                        height: auto;"> </a>
                        <h2><center>Analytics</center></h2>
                        </div>
                        <div class="col-lg-6 col-sm-push-6">
                		<a href="{% url 'settings' %}" class="button-clean"><img class="img-circle" src="../../static/images/SettingsButton.png" style=" width:425px; height: auto;"></a>
                        <h2><center>Settings</center></h2>
                        </div>
                    </div>
                	
               	</div>
            </div>

                       

</body>

</html>
