<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Sleeper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/simple-css.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'analytics' %}">Analytics</a>
                </li>
                <li>
                    <a href="{% url 'alarm' %}">Alarm</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h1><center>Smart Sleeper</center></h1>
                        <h2><center><b>Settings</b></center></h2>
                        </br>
                        <p><b>Timezone: </b>
                        <select name="Timezone">
                        <option value="-12">[UTC - 12] Baker Island Time</option>
                        <option value="-11">[UTC - 11] Niue Time, Samoa Standard Time</option>
                        <option value="-10">[UTC - 10] Hawaii-Aleutian Standard Time, Cook Island Time</option>
                        <option value="-9.5">[UTC - 9:30] Marquesas Islands Time</option>
                        <option value="-9">[UTC - 9] Alaska Standard Time, Gambier Island Time</option>
                        <option value="-8">[UTC - 8] Pacific Standard Time</option>
                        <option value="-7">[UTC - 7] Mountain Standard Time</option>
                        <option value="-6">[UTC - 6] Central Standard Time</option>
                        <option value="-5">[UTC - 5] Eastern Standard Time</option>
                        <option value="-4.5">[UTC - 4:30] Venezuelan Standard Time</option>
                        <option value="-4">[UTC - 4] Atlantic Standard Time</option>
                        <option value="-3.5">[UTC - 3:30] Newfoundland Standard Time</option>
                        <option value="-3">[UTC - 3] Amazon Standard Time, Central Greenland Time</option>
                        <option value="-2">[UTC - 2] Fernando de Noronha Time, South Georgia &amp; the South Sandwich Islands Time</option>
                        <option value="-1">[UTC - 1] Azores Standard Time, Cape Verde Time, Eastern Greenland Time</option>
                        <option value="0" selected="selected">[UTC] Western European Time, Greenwich Mean Time</option>
                        <option value="1">[UTC + 1] Central European Time, West African Time</option>
                        <option value="2">[UTC + 2] Eastern European Time, Central African Time</option>
                        <option value="3">[UTC + 3] Moscow Standard Time, Eastern African Time</option>
                        <option value="3.5">[UTC + 3:30] Iran Standard Time</option>
                        <option value="4">[UTC + 4] Gulf Standard Time, Samara Standard Time</option>
                        <option value="4.5">[UTC + 4:30] Afghanistan Time</option>
                        <option value="5">[UTC + 5] Pakistan Standard Time, Yekaterinburg Standard Time</option>
                        <option value="5.5">[UTC + 5:30] Indian Standard Time, Sri Lanka Time</option>
                        <option value="5.75">[UTC + 5:45] Nepal Time</option>
                        <option value="6">[UTC + 6] Bangladesh Time, Bhutan Time, Novosibirsk Standard Time</option>
                        <option value="6.5">[UTC + 6:30] Cocos Islands Time, Myanmar Time</option>
                        <option value="7">[UTC + 7] Indochina Time, Krasnoyarsk Standard Time</option>
                        <option value="8">[UTC + 8] Chinese Standard Time, Australian Western Standard Time, Irkutsk Standard Time</option>
                        <option value="8.75">[UTC + 8:45] Southeastern Western Australia Standard Time</option>
                        <option value="9">[UTC + 9] Japan Standard Time, Korea Standard Time, Chita Standard Time</option>
                        <option value="9.5">[UTC + 9:30] Australian Central Standard Time</option>
                        <option value="10">[UTC + 10] Australian Eastern Standard Time, Vladivostok Standard Time</option>
                        <option value="10.5">[UTC + 10:30] Lord Howe Standard Time</option>
                        <option value="11">[UTC + 11] Solomon Island Time, Magadan Standard Time</option>
                        <option value="11.5">[UTC + 11:30] Norfolk Island Time</option>
                        <option value="12">[UTC + 12] New Zealand Time, Fiji Time, Kamchatka Standard Time</option>
                        <option value="12.75">[UTC + 12:45] Chatham Islands Time</option>
                        <option value="13">[UTC + 13] Tonga Time, Phoenix Islands Time</option>
                        <option value="14">[UTC + 14] Line Island Time</option>
                        </select>
                        </p>
                        <p><b>Account Privacy: </b>
                        <select name="Privacy">
                        <option value=Private>Private, Only I can see it.</option>
                        <option value=Public>Public, Everyone can see it.</option>
                        </select>
                        </p>
                    </div>
                </div>
                <div>    
                    <div style="position: absolute; bottom: 5px;">
                    <b>
                    <p>Logout</p>
                    <p>Reset Data</p>
                    <p>Delete Account</p>
                    </b>
                    </div>
                </div>
            </div>


        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Buttons -->
    <div style="position: absolute; bottom: 5px;" class="container">

      <div class="col-sm-2 col-sm-push-8">
        <a href="{% url 'led-off' %}" class="btn btn-lg btn-primary btn-block" role="button">LED Off</a>
      </div>
      <div class="col-sm-2 col-sm-push-8">
        <a href="{% url 'led-on' %}" class="btn btn-lg btn-primary btn-block" role="button">LED On</a>
      </div>

    </div>

</body>

</html>
